.header {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #ccc;
}

.main {
  margin-bottom: 40px;
  text-align: center;
  padding: 40px 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(left, #bdbfba 4%, #5a5c5b 98%),
    -webkit-linear-gradient(16deg, rgba(255, 255, 255, 0.5) 54%, rgba(
            0,
            0,
            0,
            0.5
          )
          100%);
  background: linear-gradient(90deg, #bdbfba 4%, #5a5c5b 98%),
    linear-gradient(
      74deg,
      rgba(255, 255, 255, 0.5) 54%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: multiply;
}

input {
  height: 40px;
  width: 450px;
  padding: 0px 10px;
  font-size: 18px;
}

input:focus {
  outline: 0;
}

.example {
  color: #ccc;
}

button {
  margin-left: 10px;
  width: 80px;
  height: 40px;
  border-style: none;
  color: white;
}

.container {
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  height: 300px;
  width: 400px;
  overflow: hidden;
  position: relative;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.card-content {
  height: 80px;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.card-title {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #333;
}

.card-name {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  width: 100%;
}

.card-author {
  color: #fff;
  line-height: 1.5px;
  margin-left: 10px;
  text-shadow: 1px 1px 1px #000;
}

.card-thumb {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
